#ask_option input {
	display: block;
	margin: 9px auto;
}
.w_780 {
	width: 780px;
}

#search-dialog {
	display: none;
}

/*question*/
.votesec {
	width: 80px;
	float: left;
}
.contentsec {
	width: 650px;
	float: left;
}
.commentsec {
	width: 650px;
	float: right;
	margin-right: 58px;
}
.lvu, .lvd, .lac, .lua {
	text-align: center;
	line-height: 14px;
	height: 14px;
}
.lac, .lua {
	height: 32px;
	margin: 15px 0 0;
}
.lvn {
	font-weight: bold;
	color: #777777;
	font-size: 18px;
	text-align: center;
	line-height: 32px;
	height: 32px;
}
.avu, .avu:hover, .avd, .avd:hover, .aac, .aua {
	display: inline-block;
	width: 26px;
	height: 26px;
	background-image:url('/img/ask/vote_sprite.png');
	background-repeat: no-repeat;
}
.avu {
	background-position: 0px 0px;
}
.avu:hover {
	background-position: 0px -128px;
}
.avd{
	background-position: 0px -64px;
}
.avd:hover {
	background-position: 0px -192px;
}
.aua {
	width: 32px;
	height: 32px;
	background-position: 0px -224px;
}
.aac {
	width: 32px;
	height: 32px;
	background-position: 0px -288px;
}


/*solution*/
.sh {
	margin-top: 20px;
	padding-bottom: 5px;
	height: 35px;
	font-size: 26px;
	border-bottom: 1px solid black;
}
.s {
	padding-top: 30px;
	border-bottom: 2px solid #E5E5E5;
}
.s .contentsec {
	min-height: 200px;
}
.usersec {
	float: right;
	margin-right: 58px;
}
.s .contentsec {
	border-bottom: none;
}