.long-field {
	width: 360px;
}
.iconfont-large {
	font-family: 'codeoffice-font';
	color: white;
	font-size: 16px;
}
.iconfont {
	font-family: 'codeoffice-font';
	color: white;
	font-size: 14px;
}
.iconfont-dark {
	color: black;
}
.leftmenu-border {
	border-right: 1px solid #e5e5e5;
}
.maincontent-border {
	border-left: 1px solid #e5e5e5;
}
.noborder {
	border: none;
}
.ui-datepicker-trigger:hover {
	cursor: pointer;
}
.post-form {
	display: none;
}
.hidden {
	display: none;
}
.border {
	border: 1px solid #E5E5E5;
}
.border-bottom {
	border-bottom: 1px solid #E5E5E5;
}
.clearfix {
	clear: both;
}
.left {
	text-align: left;
}
.center {
	text-align: center;
}
.right {
	text-align: right;
}
.w-50p {
	width: 50%;
}
.w-100p {
	width: 100%;
}
.sep-30 {
	height: 30px;
}
.sep-20 {
	height: 20px;
}
.p_3 {
	padding: 3px;
}
.minorspace {
	display: inline-block;
	width: 15px;
	text-align: center;
}
.fs-l {
	font-size: 26px;
}
.fs-ml {
	font-size: 24px;
}
.fs-m {
	font-size: 20px;
}
.fs-s {
	font-size: 16px;
}
.fs-ms {
	font-size: 14px;
}
.fs-xs {
	font-size: 12px;
}
.fw-b {
	font-weight: bold;
}
.fc-hg {
	color: #999999;
}
.fc-g {
	color: #777777;
}
.fc-lg {
	color: #666666;
}
.fc-bg {
	color: #333333;
}
.fc-hb {
	color: #205081;
}
.fc-b {
	color: #3774B9;
}
.fc-lb {
	color: #3b73af;
}
.fc-w {
	color: white;
}
.fc-default {
	color: black;
}
.nowrap {
	white-space: nowrap;
}
/* floating */
.fl-l {
	display: block;
	float: left;
}
.fl-r {
	display: block;
	float: right;
}
.info-span {
	color: #777777;
	margin-right: 6px;
}
.imglink *{
	vertical-align: middle !important;
}
.removed-link {
	text-decoration: line-through;
}
.link {
	text-decoration: none;
	font-size: 14px;
	font-family: Arial, sans-serif;
}
.link:link {
	color: #205081;
}
.link:visited {
	color: #205081;
}
.link:active {
	color: #205081;
}
.link:hover {
	color: #0B76F0;
}
.image-link {
	display: block;
}
.disabled-button {
	background-color: #cccccc;
	cursor: default;
	padding: 3px 16px;
	text-align: center;
	color: white;
	border: 1px solid #999999;
}
.button, .button:hover, .button-current, .button-current:hover {
	padding: 3px 16px;
	text-align: center;
}
.largebutton {
	font-size: 20px;
}
.button {
	background-color: #205081;
	color: white;
	border: 1px solid white;
	border-radius: 3px;
}
.button-current {
	background-color: white;
	color: #205081;
	border: 1px solid #205081;
}
.button:hover {
	background-color: white;
	color: #205081;
	cursor: pointer;
	border: 1px solid #205081;
}
.non-decorated-input {
	background: transparent;
	border: none;
}
.separator-tr {
	height: 20px;
}
#leftmenu {
	width: 16%;
	float: left;
	height: 100%;
	padding: 5px;
}
#maincontent {
	float: left;
	height: 100%;
	padding: 5px;
	width: 82%;
}
.vertical-navigation-title {
	padding: 3px 10px 10px 10px;
	line-height: 25px;
	font-size: 16px;
	color: #333333;
	font-weight: bold;
	border-top: 1px solid #e5e5e5;
	cursor: default;
}
.vertical-navigation-title:hover {
	background-color: inherit;
}
.vertical-navigation li {
	padding: 6px 10px 10px 10px;
	cursor: pointer;
}
.vertical-navigation li:hover {
	background-color: #e6e6e6;
}
.vertical-navigation li a {
	display: block;
	width: 100%;
	height: 100%;
}
.vertical-navigation li a:hover {
	color: #205081;
}
.vertical-navigation .selected a {
	color: black !important;
	font-weight: bold;
}
#sub-menu {
	background-color: #f5f5f5;
	width: 100%;
	border-bottom: 1px solid #cccccc;
	font-size: 16px;
}
.horizontal-navigation {
	margin-left: 30px;
	background-color: #f5f5f5;
}
.horizontal-navigation li {
	display: inline-block;
	cursor: pointer;
	float: left;
}
.horizontal-navigation li a {
	padding: 9px 15px;
	display: block;
	width: 100%;
	height: 100%;
}
.horizontal-navigation .selected a {
	color: black !important;
	font-weight: bold;
}
.horizontal-navigation li:hover {
	background-color: #e5e5e5;
	color: #205081 !important;
}
.horizontal-navigation a:hover {
	color: #205081;
}
#title {
	margin: 0px auto;
	background-color: #f5f5f5;
	width: 100%;
	border-bottom: 1px solid #cccccc;
	padding: 10px 20px;
	font-family: "codeoffice-title", sans-serif;
	font-size: 22px;
	-webkit-box-sizing: border-box;
	font-weight: bold;
}
#content {
	width: 100%;
	height: 100%;
}
.mainelement {
	border: none;
}
.mainelement > .title {
	border: none;	
	color: #333333;
	width: 100%;
	font-size: 18px;
	padding: 5px 10px;
}
.mainelement .titlespan {
	font-weight: bold;
	font-size: 22px;
	margin-left: 10px;
}
.mainelement > .content {
	border: none;
	width: 100%;
}
.element-block {
	border: none;
	width: 48%;
	float: left;
	margin: 10px;
}
.panel-content {
	background-color: #f5f5f5;
	padding: 50px 0px 50px;
	-webkit-box-sizing: border-box;
}
.panel-element {
	-webkit-box-sizing: border-box;
	padding: 20px 10px;
	margin: 0px auto;
	width: 600px;
	border: 1px solid #cccccc;
	border-radius: 5px;
	background-color: #ffffff;
}
.sub-element {
	border: none;
}
.sub-element-info, .panel-element-info {
	border-bottom: 1px solid #E5E5E5;
	padding: 5px 10px;
	-webkit-box-sizing: border-box;
}
.sub-element-title, .element-block-title, .panel-element-title {
	font-family: "codeoffice-title", sans-serif;
	font-size: 20px;
}
.sub-element .sub-element-description, .panel-element-description {
	font-size: 14px;
	padding-left: 10px;
	-webkit-box-sizing: border-box;
}
.sub-element-content .element-block-content, .panel-element-content {
	border: none;
	width: 98%;
	margin: 0px auto;
}
.element {
	border: 1px solid #E5E5E5;
	background-color: #FDFDFD;
}
.element-info {
	background-color: #f5f5f5;
	font-size: 14px;
	width: 100%;
	border-bottom: 1px solid #cccccc;
	padding: 2px 10px;
}
.element-title {
	color: #FFFFFF;
	background-color: #3774B9;
	font-size: 16px;
	padding: 10px 6px;
}
.element-content {
}
.form-table {
	border-spacing: 0px;
    border-collapse: collapse;
	font-size: 16px;
	width: 100%;
}
.form-error-row {
	color: #d04437;
}
.form-title-row, .key-value-title-row {
	color: black;
	font-weight: bold;
	font-size: 16px;
}
.form-label-col {
	text-align: right;
	width: 300px;
	padding-right: 20px;
	-webkit-box-sizing: border-box;
}
.form-input-col {
	width: 800px;
	font-weight: bold;
}
.form-input-col img {
	vertical-align: top;
}
.form-description-row {
	font-size: 14px;
	color: #666666;
	line-height: 20px;
	height: 20px;
}
.form-table tr {
	height: 36px;
}
.form-table td {
	border-spacing: 0px;
}
.minor-form-table {
	border-spacing: 0px;
    border-collapse: collapse;
	font-size: 16px;
}
.minor-form-title-row, .key-value-title-row {
	color: black;
	font-weight: bold;
	font-size: 16px;
}
.minor-form-label-col {
	text-align: right;
	padding-right: 20px;
	-webkit-box-sizing: border-box;
}
.minor-form-input-col {
	font-weight: bold;
}
.minor-form-description-row {
	font-size: 14px;
	color: #666666;
	line-height: 20px;
	height: 20px;
}
.minor-form-table tr {
	height: 36px;
}
.minor-form-table td {
	border-spacing: 0px;
}
.key-value-table {
	border-spacing: 0px;
    border-collapse: collapse;
    width: 100%;
}
.key-value-table td {
	padding: 10px 10px 0px 10px;
}
.key-value-key-col {
	color: #333333;
	font-size: 16px;
	text-align: left;
	font-weight: bold;
	width: 75%;
}
.key-value-value-col {
	color: #333333;
	font-size: 16px;
	width: 25%;
}
.key-value-description-row {
	border-bottom: 1px solid #cccccc;
	font-size: 14px;
	color: #333333;
}
.key-value-description-row td {
	padding: 0px 10px 5px 10px;
}
.filter-content {
	padding: 10px 10px;
	-webkit-box-sizing: border-box;
}
.filter-table {
	border-spacing: 0px;
    border-collapse: collapse;
}
.filter-table td {
	padding: 3px 10px;
	-webkit-box-sizing: border-box;
}
.filter-table-title {
	color: black;
	font-weight: bold;
	font-size: 16px;
}
.filter-table-label {
	text-align: left;
	color: #333333;	
}
.filter-table-label-right {
	text-align: left;
	color: #333333;	
}
.filter-table-input {
	height: 38px;
}
.filter-table-input select {
	width: 200px;
}
.list-content {
	padding: 5px 10px;
	-webkit-box-sizing: border-box;
}
.description-info {
	color: #666666;
	font-size: 14px;
}
.color-info {
	width: 80px;
	height: 20px;
	display: inline-block;
}
.title-info {
	color: #333333;
	font-size: 16px;
	font-weight: bold;
}
.list-table {
	width: 100%; 
	border-collapse: collapse; 
	border-spacing: 0px;
	font-size: 16px;
}
.list-table-item:hover {
	background-color: #f5f5f5;
}
.list-table-page {
	padding: 0px 10px 10px 10px;
	-webkit-box-sizing: border-box;
}
.list-table-title td {
	padding: 20px 10px 10px 10px;
	font-size: 18px;
	font-weight: bold;
	color: #666666;
}
.list-table-header {
	font-weight: bold;
	-webkit-box-sizing: border-box;
	border-bottom: 1px solid #cccccc;
}
.list-table-header td {
	padding: 15px 0px 5px 0px;
}
.list-table-item {
	-webkit-box-sizing: border-box;
	border-bottom: 1px solid #cccccc;
}
.list-table-item td {
	padding: 8px 0px;
	vertical-align: top;
}
.info-ul-list {
	list-style-type: disc;
	list-style-position: inside;
}
.default-ul-list {
	line-height: 1.5em;
}
.info-ul-list-span {
	padding-left: 18px;
	-webkit-box-sizing: border-box;
}
.form-page-description {
	float: left;
	color: #333333;
}
.current-page {
	color: #333333 !important;
}
.form-page-link {
	float: right;
}
.form-page-link a {
	display: inline;
	width: 10px;
	padding: 0px 5px;
	font-size: 16px;
	font-weight: bold;
}
.info-number {
	font-weight: bold;
	color: #205081;
}
.info-value {
	font-weight: bold;
	color: #205081;
}
.default-table {
	border-spacing: 0px;
    border-collapse: collapse;
	font-size: 16px;
	width: 100%;
	margin: 0px;
}
.table-border-bottom tr {
	border-bottom: 1px solid #cccccc;
}
.default-table tr {
	height: 30px;
}
.default-table td {
	border-spacing: 0px;
}
.label-header {
	font-weight: bold;
}
.fit-cell {
	width: 1%;
	white-space: nowrap;
	padding: 0px 5px;
}
.left-header th {
	text-align: left;
}
.text {
	margin-left: 5px;
}
.banner-info-element {
	font-size: 14px;
	padding: 10px 6px;
	border-top-style: solid;
	border-top-width: 2px;
}
.info-element {
	font-size: 14px;
	padding: 10px 6px;
	border-radius: 5px;
	border-style: solid;
	border-width: 1px;
}
.info-element-icon {
	padding: 0px 8px 0px 5px;
}
.info-element-title {
	font-weight: bold;
	line-height: 16px;
}
.info-element-content {
	padding: 10px 30px 0px 30px;
	display: block;
}
.info-element-tip {
	background-color: #f3f9f4;
	color: #333333;
	border-color: #14892c;
}
.info-element-info {
	background-color: #fcfcfc;
	color: #333333;
	border-color: #8c9fb2;
}
.info-element-warning {
	background-color: #fffdf6;
	color: #333333;
	border-color: #ffeaae;
}
.info-element-error {
	background-color: #fffdf6;
	color: #333333;
	border-color: #d04437;
}
.info-element-alert {
	background-color: #d04437;
	color: white;
	border-color: #d04437;
}
.percent-key {
	width: 40%;
}
.percent-value {
	width: 5%;
}
.percent-percent {
	width: 55%;
}
.page-holder {
	float: right;
	font-size: 14px;
}
.action-link {
	height: 24px;
	vertical-align: middle;
	display: inline-block;
	padding: 2px 5px;
	white-space: nowrap;
	border: 1px solid #e5e5e5;
}
.action-link a {
	padding-left: 10px;
	-webkit-box-sizing: border-box;
}
.action-link span {
	text-align: center;
	white-space: nowrap;
}
.action-field {
	width: 100%;
	padding: 5px 10px 10px 10px;
}
.datepicker {
	margin-right: 10px;
}
.toggle-on {
	padding: 0px 3px;
	background-color: #14892c;
	border: 1px solid #14892c;
	border-radius: 3px;
	color: white;
}
.toggle-off {
	padding: 0px 3px;
	background-color: #d04437;
	border: 1px solid #d04437;
	border-radius: 3px;
	color: white;
}
.toggle-on a, .toggle-off a {
	color: white;
}
.plain-label, .closable-label {
	font-weight: normal;
	padding: 2px 5px;
	border: 1px solid #cccccc;
	font-size: 14px;
	border-radius: 3px;
	background-color: #f5f5f5;
	margin: 5px 5px;
	float: left;
}
.plain-label-info, .closable-label {
	color: #333333;
}
.plain-label-description, .closable-label {
	color: #666666;
}
.spanlink:hover {
	cursor: pointer;
}
.autocomplete-link, .autocomplete-link:hover {
	font-size: 14px !important;
}
.autocomplete-link:hover span {
	color: white !important;
}
.ui-menu .ui-menu-item a {
	line-height: 1;
}
.inline-form {
	display: inline-block;
}
.color-palette-primary-blue {
	background-color: #205081;
}
.color-palette-primary-brightblue {
	background-color: #3b73af;
}
.color-palette-primary-paleblue {
	background-color: #ebf2f9;
}
.color-palette-primary-green {
	background-color: #14892c;
}
.color-palette-primary-yellow {
	background-color: #f6c342;
}
.color-palette-primary-red {
	background-color: #d04437;
}
.color-palette-primary-charcoal {
	background-color: #333333;
}
.color-palette-primary-mediumgray {
	background-color: #707070;
}
.color-palette-primary-lightgray {
	background-color: #f5f5f5;
}
.color-palette-secondary-gray {
	background-color: #999999;
}
.color-palette-secondary-ashgray {
	background-color: #cccccc;
}
.color-palette-secondary-silver {
	background-color: #e9e9e9;
}
.color-palette-secondary-brown {
	background-color: #815b3a;
}
.color-palette-secondary-orange {
	background-color: #ea632b;
}
.color-palette-secondary-tan {
	background-color: #f1a257;
}
.color-palette-secondary-lightbrown {
	background-color: #d39c3f;
}
.color-palette-secondary-lighterblue {
	background-color: #3b7fc4;
}
.color-palette-secondary-slate {
	background-color: #4a6785;
}
.color-palette-secondary-limegreen {
	background-color: #8eb021;
}
.color-palette-secondary-emerald {
	background-color: #7bc1a1;
}
.color-palette-secondary-violet {
	background-color: #654982;
}
.color-palette-secondary-mauve {
	background-color: #ac707a;
}
.color-palette-secondary-brightpink {
	background-color: #f15c75;
}
.color-palette-secondary-pink {
	background-color: #f691b2;
}
.image-select-indicator {
	border: 1px solid #999999;
	border-radius: 3px;
	padding: 5px 10px;
	width: 200px;
}
.image-select-ul-list {
	position: absolute;
	left: -9999px;
	border: 1px solid #999999;
	border-radius: 3px;
	background-color: white;
	width: 220px;
	text-align: left;
}
.image-select-ul-list li {
	padding: 3px 5px;
}
.image-select-ul-list li:hover {
	color: white;
	background-color: #205081;
	cursor: default;
}