<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="mu.codeoffice.mapper.CommonMapper">

	<resultMap id="user" type="User">
		<id property="id" column="id"/>
		<result property="account" column="account"/>
		<result property="username" column="username"/>
		<result property="description" column="description"/>
		<result property="gender" column="gender"/>
		<result property="profilePath" column="profile_path"/>
	</resultMap>
	
	<select id="logout" resultMap="user">
		SELECT 
			id,
			account,
			username,
			description,
			gender,
			profile_path
		FROM 
			user
		WHERE id=#{id}
	</select>
	
	<select id="login" resultMap="user">
		SELECT 
			id,
			account,
			username,
			description,
			gender,
			profile_path
		FROM 
			user
		WHERE account=#{account} AND password=#{password}
	</select>
	
	<update id="update" parameterType="user">
		UPDATE user SET login_date=#{login} WHERE id=#{id}
	</update>
	
</mapper> 