<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="mu.codeoffice.mapper.UserMapper">

	<resultMap id="userStatus" type="User">
		<id property="id" column="id"/>
		<result property="experience" column="experience"/>
		<result property="contribution" column="contribution"/>
		<result property="coin" column="coin"/>
		<result property="reputation" column="reputation"/>
	</resultMap>

	<select id="getUserStatus" resultMap="userStatus">
		SELECT
			id,
			experience,
			contribution,
			reputation,
			coin
		FROM
			user
		WHERE id=#{id}
	</select>

	<select id="isEmailAvailable" resultType="boolean" parameterType="string">
		SELECT COUNT(*) = 0 FROM user WHERE account=#{account}
	</select>
	
	<select id="isUsernameAvailable" resultType="boolean">
		SELECT COUNT(*) = 0 FROM user WHERE username=#{username}
	</select>
	
	<insert id="register" parameterType="registerUser">
		INSERT INTO user
			(account, password, username, description, gender, create_date, login_date, profile_path, security_question_id, security_answer, admin, admin_role, contribution, experience, reputation, coin)	
		VALUES
			(#{account}, #{password}, #{username}, '', #{gender}, CURRDATE(), NULL, NULL, #{securityQuestion}, #{securityAnswer}, 0, 0, 0, 0, 0, 0)
	</insert>
	
	<update id="updateUserStatus" parameterType="User">
		UPDATE user SET experience = #{experience}, coin = #{coin}, contribution = #{contribution}, reputation = #{reputation} WHERE id=#{id}
	</update>
	
</mapper> 