/* header */
#header {
	width: 100%;
	height: 78px;
	background-color: #205081;
	border-bottom: 1px solid #2e3d54;
	clear: both;
	margin-top: -5px;
}
#header a {
	display: block;
	color: white;
	width: 100%;
}
.current, .navigation {
	background-color: #3774B9;
	color: #205081;
}
#header-content {
	margin: 0px auto 10px auto;
}
#header-menu {
	height: 48px;
	display: table;
	font-size: 18px;
	font-weight: bold;
}
#header-menu .link {
	width: 120px;
	height: 30px;
	vertical-align: middle;
	display: table-cell;
	text-align: center;
}
#header-site {
	width: 250px;
	float: left;
}
#header-menu {
	float: left;
}
#sub-menu {
	float: left;
	width: 100%;
	height: 30px;
	display: table;
	background-color: #E5E5E5;
	border-bottom: 1px solid #2e3d54;
}
#sub-menu .link {
	width: 120px;
	height: 30px;
	vertical-align: middle;
	display: table-cell;
	text-align: center;
}
#sub-menu .link a {
	color: black;
}
#header-login {
	margin: 5px auto 0px auto;
	text-align: right;
}
#header-login a {
	padding: 0px 10px;
	width: 100px;
}

/* middle */
#middle {
	width: 1200px;
	margin: 10px auto -10px auto;
}
#middle p {
	font-size: 14px;
	margin: 0px;
	text-align: center;	
}
.error-message {
	color: red;
}
.warn-message {
	color: #FF3300;
}
.notice-message {
	color: green;
}

/* footer */
#footer {
	width: 1200px;
	margin: 15px auto;
	border-top: 2px solid #E5E5E5;
	clear: both;
	height: 200px;
}
#copyright {
	width: 400px;
	text-align: center; 
	color: #999999;
	font-size: 16px;
	margin: 5px auto 0px auto; 
}
/* general */