.delayed-version {
	color: red;
	font-weight: bold;
}
#project-weekly-summary-chart, #project-monthly-summary-chart{
	width: 100%;
	height: 300px;
}
.delayed-version {
	color: red;
	font-weight: bold;
}