/* main settings*/
body {
	font-family: Arial, sans-serif;
	width: 100%;
}
body, div, span, p, ul, table, input, td, tr, a, li, dl, dt, button, textarea, thead, tbody, tfoot, fieldset{
	margin: 0px;
	padding: 0px;
}
ul {
	list-style: none;
}
fieldset {
	border: none;
}
textarea {
	resize: none;
}
select {
	background-color: white;
	border: 1px solid gray;
	padding: 0px 5px;
}
input[type=text], input[type=password], textArea, select {
	font-size: 16px;
}
/* jquery ui style fix*/
.ui-datepicker-trigger:hover {
	cursor: pointer;
}
.post-form {
	display: none;
}
.border {
	border: 1px solid #E5E5E5;
}
.border-bottom {
	border-bottom: 1px solid #E5E5E5;
}
.clearfix {
	clear: both;
}
.left {
	text-align: left;
}
.center {
	text-align: center;
}
.right {
	text-align: right;
}
.w-50p {
	width: 50%;
}
.w-100p {
	width: 100%;
}
.sep-30 {
	height: 30px;
}
.sep-20 {
	height: 20px;
}
.p_3 {
	padding: 3px;
}
.minorspace {
	display: inline-block;
	width: 15px;
}
.fs-l {
	font-size: 26px;
}
.fs-ml {
	font-size: 24px;
}
.fs-m {
	font-size: 20px;
}
.fs-s {
	font-size: 16px;
}
.fs-ms {
	font-size: 14px;
}
.fs-xs {
	font-size: 12px;
}
.fw-b {
	font-weight: bold;
}
.fc-hg {
	color: #999999;
}
.fc-g {
	color: #777777;
}
.fc-lg {
	color: #666666;
}
.fc-bg {
	color: #333333;
}
.fc-hb {
	color: #205081;
}
.fc-b {
	color: #3774B9;
}
.fc-lb {
	color: #3b73af;
}
.fc-w {
	color: white;
}
.fc-default {
	color: black;
}
.nowrap {
	white-space: nowrap;
}
/* floating */
.fl-l {
	display: block;
	float: left;
}
.fl-r {
	display: block;
	float: right;
}
.info-span {
	color: #777777;
	margin-right: 6px;
}
.imglink *{
	vertical-align: middle;
}
.removed-link {
	text-decoration: line-through;
}
a {
	text-decoration: none;
	font-size: 14px;
}
a:link {
	color: #205081;
}
a:visited {
	color: #205081;
}
a:active {
	color: #205081;
}
a:hover {
	color: #0B76F0;
}
.image-link {
	display: block;
}
.disabled-button {
	background-color: #cccccc;
	cursor: default;
	padding: 3px 16px;
	text-align: center;
	color: white;
	border: 1px solid #999999;
}
.button, .button:hover, .button-current, .button-current:hover {
	padding: 3px 16px;
	text-align: center;
}
.largebutton {
	font-size: 20px;
}
.button {
	background-color: #205081;
	color: white;
	border: 1px solid white;
}
.button-current {
	background-color: white;
	color: #205081;
	border: 1px solid #205081;
}
.button:hover {
	background-color: white;
	color: #205081;
	cursor: pointer;
	border: 1px solid #205081;
}
.non-decorated-input {
	background: transparent;
	border: none;
}
.separator-tr {
	height: 20px;
}
.leftmenu {
	width: 16%;
	float: left;
	height: 100%;
	padding: 5px;
}
.maincontent {
	border-left: 1px solid #E5E5E5;
	float: left;
	height: 100%;
	padding: 5px;
	width: 82%;
}
.vertical-tab .tab {
	padding: 3px 10px 5px 10px;
	line-height: 20px;
}
.vertical-tab .tab a {
	display: block;
}
.vertical-tab .tab:hover {
	background-color: #e6e6e6;
	cursor: pointer;
}
.vertical-tab .tab:active {
	background-color: #205081;
	color: white !important;
}
.vertical-tab .active a {
	color: black !important;
	font-weight: bold;
}
.vertical-tab .active a:active {
	color: white !important;
	font-weight: bold;
}
.vertical-tab .empty-tab {
	height: 20px;
}
.vertical-tab li a:hover, .vertical-tab li a:active, .vertical-tab .active a:hover, .vertical-tab .active a:active {
	color: inherit !important;
}
.horizontal-tab {
	margin-left: 30px;
}
.horizontal-tab li {
	display: inline;
}
.horizontal-tab li a, .horizontal-tab .active a {
	display: block;
	cursor: pointer;
	border: 1px solid #cccccc;
	float: left;
	padding: 5px 12px;
}
.horizontal-tab .active a {
	background-color: #205081 !important;
	color: white !important;
	border: 1px solid #205081;
}
.tab-content {
	float: left;
	border-top: 1px solid #cccccc;
	width: 100%;
	padding-top: 10px;
	color: #333333;
}
#main {
	width: 1200px;
	margin: 20px auto 0px auto;
}
#content {
	width: 100%;
	margin: 10px auto 0px auto;
}
.mainelement {
	border: none;
}
.mainelement > .title {
	border: none;	
	color: #333333;
	width: 100%;
	font-size: 18px;
	padding: 10px 6px;
}
.mainelement .titlespan {
	font-weight: bold;
	font-size: 22px;
	margin-left: 10px;
}
.mainelement > .content {
	border: none;
	width: 100%;
}
.element-block {
	border: none;
	width: 48%;
	float: left;
	margin: 10px;
}
.subelement {
	border: none;
}
.subelement > .title, .element-block > .title {
	border: none;	
	color: #333333;
	width: 98%;
	margin: 0px auto;
	border-bottom: 1px solid #E5E5E5;
	padding: 10px 6px;
	font-size: 18px;
}
.subelement > .content .element-block > .content {
	border: none;
	width: 98%;
	margin: 0px auto;
}
.element {
	border: 1px solid #E5E5E5;
	background-color: #FDFDFD;
}
.element > .info {
	background-color: #f5f5f5;
	font-size: 14px;
	width: 100%;
	border-bottom: 1px solid #cccccc;
	padding: 2px 10px;
}
.element > .title {
	color: #FFFFFF;
	background-color: #3774B9;
	font-size: 16px;
	padding: 10px 6px;
}
.element .content {
}
.form-table {
	border-spacing: 0px;
    border-collapse: collapse;
	font-size: 16px;
	width: 800px;
	margin: 20px auto;
}
.form-table tr {
	height: 30px;
}
.form-table td {
	border-spacing: 0px;
}
.default-table {
	border-spacing: 0px;
    border-collapse: collapse;
	font-size: 16px;
	width: 100%;
	margin: 0px;
}
.table-border-bottom tr {
	border-bottom: 1px solid #E5E5E5;
}
.default-table tr {
	height: 30px;
}
.default-table td {
	border-spacing: 0px;
}
.label-header {
	font-weight: bold;
}
.info-table {
	width: 100%;
	border-spacing: 0px;
    border-collapse: collapse;
    line-height: 26px;
}
.info-title {
	font-size: 14px;
	width: 25%;
	color: #333333;
}
.info-value {
	color: #205081;
	width: 25%;
}
.fit-cell {
	width: 1%;
	white-space: nowrap;
	padding: 0px 5px;
}
.left-header th {
	text-align: left;
}
.text {
	margin-left: 5px;
}
.info-element {
	font-size: 14px;
	color: #333333;
	border: 1px solid #8c9fb2;
	background-color: #f6f7f9;
	padding: 10px 6px;
}
.percent-key {
	width: 40%;
}
.percent-value {
	width: 5%;
}
.percent-percent {
	width: 55%;
}
.page-holder {
	float: right;
	font-size: 14px;
}
.action-link {
	display: inline-block;
	padding: 3px 6px;
}
.action-link span {
	padding-left: 10px;
	text-align: center;
	white-space: nowrap;
}
.action-field {
	width: 100%;
	padding: 5px  class="imglink"10px 10px 10px;
}
.datepicker {
	margin-right: 10px;
}